.container1 {
  display: flex;
}
.left1{
  background-color: red;
  width: 300px;
}

.right1 {
  background-color: green;
  flex: 1;
}

.left2{
  background-color: red;
  width: 300px;
  float: left;
}

.right2 {
  background-color: green;
  width: cack(100vw - 300px);
}

.left3{
  background-color: red;
  width: 300px;
  float: left;
}

.right3 {
  background-color: green;
  width: 100%;
}
