.outer{
  background: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.inner{
  width: 500px;
  height: 500px;
  border: 1px solid red;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}
